<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fleetmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FLeet Managment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".driverFunctionality.activities.DriverSearchActivity"></activity>
        <activity android:name=".driverFunctionality.activities.DriverAssignActivity" />
        <activity android:name=".driverFunctionality.activities.DriverHistoryActivity" />
        <activity android:name=".carsFunctionality.activites.CarSearchActivity" />
        <activity android:name=".carsFunctionality.activites.AssignActivity" />
        <activity android:name=".driverFunctionality.activities.EditDriverAcitivty" />
        <activity android:name=".splashScreens.LoadingDrivers" />
        <activity android:name=".splashScreens.LoadingActivity" />
        <activity android:name=".carsFunctionality.activites.EditCarActivity" />
        <activity android:name=".carsFunctionality.activites.CarHistoryActivity" />
        <activity android:name=".driverFunctionality.activities.DriversDetailsActivity" />
        <activity
            android:name=".driverFunctionality.activities.DriversActivity"
            android:label="" />
        <activity android:name=".driverFunctionality.activities.AddDriverActivity" />
        <activity android:name=".carsFunctionality.activites.CarDetailsActivity" />
        <activity android:name=".carsFunctionality.activites.FleetActivity" />
        <activity android:name=".homeFunctionality.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginFunctionality.activities.LoginActivity" />
        <activity android:name=".splashScreens.SplashActivity" />
        <activity android:name=".carsFunctionality.activites.AddCarActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>